@CHARSET "UTF-8";
@import "guestbook.css";
*{
	padding: 0;
	margin: 0;
}
#guestbook ul li strong, #guestbook ul li a {
	display: block;
}
#guestbook ul li strong, #guestbook ul li p {
	margin-left: 40px;
	padding: 5px;
}
#add-form{
	border-bottom: 1px solid #bbb;
	padding-bottom: 15px;
}
#guestbook input, #guestbook textarea{
	width: 100%;
	height:25px;
	display: block;
	margin-bottom	: 10px;
}

#guestbook textarea{
	height:80px;
}
#guestbook input[type=submit]{
	background-color: #fff;
	border: 1px solid #bbb;
}


#guestbook ul li p{
	border: 1px solid #000;
	background-color: #ddd;
	border-radius: 5px;
	width: 450px;
}
#guestbook ul li {
	height: auto;
	background: url("/mysite03/assets/images/user.png") left top no-repeat;
	background-size : 40px;
	position: relative;
	float: right
}

#guestbook ul li a {
	font-size: 0px;
	background: url("/mysite03/assets/images/delete.png");
	width: 20px;
	height: 20px;
	position: absolute;
	left: 20px;
	top: 20px;
}
#guestbook h1{
	display: inline-block;
}
.logo{
	height: 32px;
	width: 32px;
}

