@CHARSET "UTF-8";
@import "mysite.css";

#gallery			{ margin:20px auto;	width:540px; }
#gallery ul			{ width: 100%; }

#gallery h1{
	height: 35px;
}

#gallery h1{
	background: url("/mysite03/assets/images/gallery.png") 0 0 no-repeat;
	padding-left: 40px;
	background-size: 35px;
	float:left;
}

#upload-image {
	background-color: #E8ECF6;
	border: 1px solid #59A0DC;
	display: block;
	float: right;
	text-decoration: none;
	text-align: center;
	width: 100px;
	vertical-align: bottom;
	padding-bottom: 10px;
	padding-top: 10px;
	
}

#gallery ul	{ 
   clear:both; 
}
#gallery ul li {
	position:relative;
	float:left; 
	overflow-y:hidden;
	padding: 9px;
}
#gallery ul li a{
	display:block;
}
#gallery ul li a.image {
	width:114px;
	height:114px;
	background-size: 114px;
	background-repeat: no-repeat;
	background-position: center center;
}

#gallery ul li a.del-button {
	position:absolute;
	right:2px;
	top:3px;
	display:none;
}

#gallery ul li:hover a.del-button {
	display:block;
}
.del-button{
	background: url("/mysite03/assets/images/delete.png") no-repeat;
	width: 20px;
	height: 20px;
	font-size: 0;
}






/* 이미지 업로드 팝업 레이어 */ 
#dialog-upload-form 					{ text-align: left; }
#dialog-upload-form p					{ padding:20px 0 5px 0; font-weight: bold; font-size:1.1em }
#dialog-upload-form label, 
#dialog-upload-form input				{ display:block; }
#dialog-upload-form label				{ font-weight:bold; margin-top:10px; }
#dialog-upload-form input				{ outline:none; margin-top:5px; }
#dialog-upload-form input[type='text']	{ padding: 5px; border:2px solid #A9A9A9; width:260px; }

